.skew__right-content{
	position: relative;
}




.skew__right-content::after{
	content: "";
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;

	position: absolute;
	left: 0;
	bottom: 0;
	top: 2em;
	right: 0;
}
@media (min-width: 768px){
	.skew__right-content::after{
		background-position: left bottom;
		left: 16%;
		top: 6.25em;
		z-index: 10;
	}
}