.dropdown__lebel{
  position: absolute;
  right: 0;
  top: .1em;
  
  height: 2.625em;
  background: #ddd;
  border-radius: 0.3em;
  padding: .5em 1em;
  width: 3.5em;

  display: flex;
  align-items: center;
  justify-content: center;
}




.dropdown__lebel::after{
  content: url(img/arrow.svg);
  height: 100%;
  width: 100%;

}
.dropdown__checkbox:checked + .dropdown__lebel::after{
  content: url(img/arrow.svg);
  transform: rotate(-180deg);
}