.portfolio__label{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;

	background-color: rgba(0,0,0,.6);
	padding: 1rem;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

@media (min-width: 1200px){
	.portfolio__label{
		opacity: 0;

		transition: .5s;
	}
}