.skew__wrap{
	border: 1.4em solid var(--red);
	border-top: none;
	border-right: none;
	border-bottom: none;
	transform: skewX(-22.5deg);
	
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 1500px;
	overflow: hidden;
}