.skew__left-content{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 2em;
	padding-bottom: 2em;
	height: 100%;
}

@media (min-width: 768px){
	.skew__left-content{
		float: right;

		width: 100%;

		max-width: 570px;
	}
} 