.header__toolbar{
	margin: 0 -.875em 0 -.875em;
	padding: 109px 1.75em 0 1.75em;
	width: 100vw;
	height: 100vh;
	max-height: 1000px;

	box-shadow: 0 0.3rem 0.3rem rgba(0,0,0,.3);
}

.header__toolbar > *{
	margin: 1.7em 0;
}

@media (min-width: 1200px) {
	.header__toolbar{
		display: flex;
		margin: 0;
		padding: 0;
		width: auto;
		box-shadow: none;

		align-items: center;
		justify-content: flex-end;
		flex-grow: 1;
		min-height: 0;

		height: auto;
	}

	.header__toolbar > *{
		margin: 0 2em;
	}
}