.header__toolbar{
	margin: -6.25em -.875em -1.375em -.875em;

	z-index: -1;

	flex-grow: 1;
	flex-basis: 100%;
}
.header__toolbar.show{
	box-shadow: 0 0.3rem 0.3rem rgba(0,0,0,.3);
}

@media (min-width: 1200px){
	.header__toolbar{
		margin: 0;

		z-index: auto;

		flex-basis: auto;
	}
}