@media (min-width: 1200px){
	.dropdown_right::after {
		content: url(img/arrow.svg);
		transform: rotate(-90deg);
	}
	.dropdown:hover.dropdown_right::after {
		transform: translateX(280%) rotate(-90deg);
	}
}