.navigation__link {
	color: var(--red);

	display: block;

	border: 1px solid var(--300);
	border-top: none;
	border-right: none;

	padding: .875em .4375em;
}

@media (min-width: 1200px) {
	.navigation__link {
		color: inherit;

		display: inline;

		border: none;

		padding: .875em .4375em;

		position: relative;
	}
	.navigation__link:hover{
		color: red;
	}
}