.line{
	border-style: solid;
	border-color: var(--primary);
	border-width: 1px;

	border-bottom: none;

	position: relative;
}

.line::after{
	content: '';

	height: .5em;
	width: .5em;

	background-color: var(--primary);
	border-radius: 50%;

	position: absolute;
	transform: translate(50%, 50%);
	right: 0;
	bottom: 0;
}